/* Header */
.marge {
    background-color: rgba(0, 170, 162, 0.534);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal; 
}
p{
  color: white;
  font-family: "Playwrite MX", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Vast Shadow", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
      font-family: "Aboreto", system-ui;
      font-weight: 400;
      font-style: normal;
    }
u{
  color: white;
}
/*hamburger bouton*/
body{
  margin: 0px;
  background-color: whitesmoke;
}
#burger{
  vertical-align: middle; 
}
#menu_links{
  display: none;
}
#menu{
  background-color: rgba(0, 170, 162, 0.534);
  border: 1px solid black;
  text-align: center;
}
#menu a{
  text-decoration: none;
  color: whitesmoke;
  display: block;
  padding: 1em;
}
#menu #menu_link:hover a{
  background-color: rgba(0, 0, 0, 0.2);
}
#menu_bars{
  text-align: right;
}
#burger:checked ~ #menu_links{
  display: block;
} 
  /* footer */
footer{
    background-color: rgba(0, 125, 156, 0.493);
    color: rgb(247, 247, 247);
    text-align: center;
    margin-top: 5em;
    
}
h2{
  color: white;
  padding-left: 3em;
}
h3{
  color: bisque;
  text-align: center;
  padding-left: 3em;
}
/*Disposition div film*/
.Film{
  margin-left: 5em;
  margin-right: 5em;
}
.docu{
  display: flex;
  align-items: center;
}
.tns{
  display: flex;
  align-items: center;
}
.echappe{
  display: flex;
  align-items: center;
}
/*Disposition concert*/
.concert{
  margin-left: 5em;
  margin-right: 5em;
  padding-top: 2em;
}
.roi{
  display: flex;
  align-items: center;
}
.francofolie{
  display: flex;
  align-items: center;
}
.nime{
  display: flex;
  align-items: center;
}
/*Taille des images*/
img{
  width: 40em;
  height: 20em;
  border-radius: 10%;
  padding-top: 3em;
}
/*Background*/
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
   }
   /*Format de telephone*/
   @media screen and (max-width:768px) and (min-width: 320px) {
    #background-video {
        width: 200vw;
        height: 300vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
         }
        .Home{
           display: none;
        }
        .nekfeu{
           display: none;
        }
        .luther{
           display: none;
        }
        .Film{
          display: flex;
          flex-wrap: wrap;
        }
        .echappe{
          display: flex;
          flex-wrap: wrap;
        }
        .docu{
          display: flex;
          flex-wrap: wrap;
        }
        .tns{
          display: flex;
          flex-wrap: wrap;
        }
        .concert{
          display: flex;
          flex-wrap: wrap;
        }
        .francofolie{
          display: flex;
          flex-wrap: wrap;
        }
        .roi{
          display: flex;
          flex-wrap: wrap;
        }
        .nime{
          display: flex;
          flex-wrap: wrap;
        }
        img{
          width: 12em;
          height: 6em;
          padding-left: none;
        }
        h2{
          padding: 0;
        }
        h3{
          padding: 0;
        }
}
/*Format de pc*/
   @media screen and (min-width: 769px) {
    .menu{
        display: none;
    }
}
