/* Header */
.marge {
    background-color: rgb(187, 224, 20);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal; 
}
/*pour la barre de recherche*/
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
    padding-bottom: 10px;
    padding-top: 10px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
/* footer */
footer{
    background-color: black;
    color: white;
    text-align: center;
}
/* taille des images */
img{
    width: 25em;
    height: 40em;
}
