/* Header */
nav 
{
    width: 100%;
    height: 6;
    background: #01aea694;
}
 
nav .main_pages 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
 
nav .main_pages a 
{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    color: white;
}
 
nav a:hover 
{
    background: #01aea694
}
label, #toggle
{
    display: none;
}
 
@media all and (max-width: 991px)
{
    nav
    {
        height: 60px;
    }
 
    nav .main_pages 
    {
        display: none;
        flex-direction: column;
        background: #01aea694;
        height: 220px;
    }
 
    nav .main_pages a {
        width: 50%;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        color: white;
        cursor: pointer;
    }
 
    #toggle:checked + .main_pages {
        display: flex;
    }
}
p{
    color: white;
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  h1 {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  h2 {
        font-family: "Aboreto", system-ui;
        font-weight: 400;
        font-style: normal;
        color: white;
      }
  /*background*/
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
     }
 /* footer */
footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  background-color: rgba(0, 125, 156, 0.493);
  color: rgb(247, 247, 247);
  margin-top: 3em;
  text-decoration: none;
}
a{text-decoration: none;}
/* taille des images */
img{
    width: 20em;
    height: 20em;
}
/*Album 1*/
.album1{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
/* animation album feu */
.card1 {
    position: relative;
    width: 300px;
    height: 800px;
    background: #01aea56a;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card1 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card1:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #01aea5;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card1:hover .card__content1 {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title1 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description1 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card1:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  a{
    text-decoration: none;
    color: white;
  }
  /* animation album cyborg */
  .card2 {
    position: relative;
    width: 300px;
    height: 675px;
    background: #01aea571;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card2 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card2:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #01aea5;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card2:hover .card__content2 {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title2 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description2 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card2:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  /* annimation album etoile vagabonde */
  .card3 {
    position: relative;
    width: 300px;
    height: 1425px;
    background: #01aea57d;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card3 svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card3:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #01aea5;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .card3:hover .card__content3 {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title3 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description3 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card3:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  /* disposition des album */
  .album-all{
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
  }
/*Album 2*/
.album2{
    display: flex;
    justify-content: center;
    padding-top: 5em;
}
/*Album 3*/
.album3{
    display: flex;
    justify-content: center;
    padding-top: 5em;
}
.son3{
    padding-left: 2em;
}
.son3-3{
    padding-left: 2em;
}
.son3-3-3{
    padding-left: 2em;
}
.son3-3-3-3{
    padding-left: 2em;
}
p{
    color: white;
}
@media screen and (max-width:768px) and (min-width: 320px) {
    #background-video {
        width: 200vw;
        height: 300vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
         }
    .Home{
        display: none;
     }
     .nekfeu{
        display: none;
     }
     .luther{
        display: none;
     }
     .album1{
        display: flex;
        flex-wrap: wrap;
     }
     .album2{
        display: flex;
        flex-wrap: wrap;
        padding-top: 5em;
     }
     .album3{
        display: flex;
        flex-wrap: wrap;
        padding-top: 5m;
     }
     .album-all{
        flex-wrap: wrap;
     }
     footer{
        flex-wrap: wrap;
        height: 15em;
     }
     .card1{
        display: none;
     }
     .card2{
        display: none;
    }
    .card3{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    .menu{
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    .card1{
        display: none;
    }
    .card2{
        display: none;
    }
    .card3{
        display: none;
    }
    .album-all{
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1440px) {
    .album1{
        display: none;
    }
    .album2{
        display: none;
    }
    .album3{
        display: none;
    }
}