/* Header */
.marge {
    background-color: rgba(0, 170, 162, 0.534);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-weight: 400;
}
p{
    color: white;
    font-family: "Playwrite MX", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  h1 {
    font-family: "Vast Shadow", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
  }
  h2 {
        font-family: "Aboreto", system-ui;
        font-weight: 400;
        font-style: normal;
        color: white;
      }
/*hamburger bouton*/
body{
    margin: 0px;
    background-color: whitesmoke;
  }
  #burger{
    vertical-align: middle; /* Je suis maniaque désolé */
  }
  #menu_links{
    display: none;
  }
  #menu{
    background-color: rgba(0, 170, 162, 0.534);
    border: 1px solid black;
    text-align: center;
  }
  #menu a{
    text-decoration: none;
    color: whitesmoke;
    display: block;
    padding: 1em;
  }
  #menu #menu_link:hover a{
    background-color: rgba(0, 0, 0, 0.2);
  }
  #menu_bars{
    text-align: right;
  }
  #burger:checked ~ #menu_links{
    display: block;
  }
  /*background*/
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
     }
  /* footer */
footer{
    background-color: rgba(0, 125, 156, 0.493);
    color: rgb(247, 247, 247);
    text-align: center;
    margin-top: 3em;
    
}
/* taille des images */
img{
    width: 20em;
    height: 20em;
}
/*Album 1*/
.album1{
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.son1{
    padding-left: 2em;
}
.son1-1{
    padding-left: 2em;
}
/*Album 2*/
.album2{
    display: flex;
    justify-content: center;
    padding-top: 5em;
}
/*Album 3*/
.album3{
    display: flex;
    justify-content: center;
    padding-top: 5em;
}
.son3{
    padding-left: 2em;
}
.son3-3{
    padding-left: 2em;
}
.son3-3-3{
    padding-left: 2em;
}
.son3-3-3-3{
    padding-left: 2em;
}
p{
    color: bisque;
}
@media screen and (max-width:768px) and (min-width: 320px) {
    #background-video {
        width: 200vw;
        height: 300vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
         }
    .Home{
        display: none;
     }
     .nekfeu{
        display: none;
     }
     .luther{
        display: none;
     }
     .album1{
        display: flex;
        flex-wrap: wrap;
     }
     .album2{
        display: flex;
        flex-wrap: wrap;
        padding-top: 5em;
     }
     .album3{
        display: flex;
        flex-wrap: wrap;
        padding-top: 5m;
     }
}
@media screen and (min-width: 769px) {
    .menu{
        display: none;
    }
}